--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
faiss-cpu
pypdf
python-dotenv
sentence-transformers==2.2.2
torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
pydantic
requests
